$body-bg:                                                   #ecf0f1;
$navbar-height:                                        		65px;
$navbar-default-bg:                          				white;
$navbar-default-brand-color:      							#ee3a57;
$brand-primary:                                   			#ee3a57;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
	margin-left: 0;
}

.navbar-default .navbar-brand{
	padding-top: 14px;
}

table.home{
	margin-bottom: 35px;
}